$body-color: #212529;
$accent-color: #f35c5a;
$accent-color-dk: #d44d4b;
$accent-blue: #044f7a;
$accent-lg-blue: #17a2b8;
$background-grey: rgba(0,0,0,0.03);
$background-dkGrey: rgba(0,0,0,0.05);
$font-family-sans: 'Muli', sans-serif;
$font-family-serif: 'Ovo', serif;
$primary: #144f7a;
$primary-blue: #144f7a;
$primary-overlay: rgba(20, 79, 122, 0.5);
$section-padding-top: 100px;
$yellow: #ffc107;
