/* BASE STYLES */
body {
  margin-top: 105px;
  font-family: "Ovo", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif; }

.navbar {
  opacity: 0.9;
  background: #fff;
  z-index: 100;
  padding: 2px 0 0 !important; }
  .navbar .navbar-brand h4 {
    position: relative;
    top: 3px; }
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 15px; }
  .navbar .nav-link, .navbar .search {
    font-family: "Muli", sans-serif; }

#showcase {
  margin-top: -50px;
  position: relative;
  background: url("../img/annie.jpg") no-repeat center center fixed;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #showcase h1.myhero {
    margin-top: 2.5rem;
    font-size: 2.5rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem; }
  #showcase p {
    line-height: 1.4;
    padding: 0 1.8rem 1.5rem; }
  #showcase a.read {
    margin-top: 2rem;
    text-align: center;
    margin: auto; }
  #showcase .primary-overlay {
    background: rgba(20, 79, 122, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-heading {
  position: relative;
  min-height: 350px;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center; }

#home-heading p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1rem; }
  #home-heading p span a {
    color: #ffc107;
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    -o-transition: color .5s ease-out, color 0.5s ease-in;
    -ms-transition: color .5s ease-out, color 0.5s ease-in;
    -moz-transition: color .5s ease-out, color 0.5s ease-in;
    -webkit-transition: color .5s ease-out, color 0.5s ease-in;
    transition: color .5s ease-out, color 0.5s ease-in; }
    #home-heading p span a:hover {
      color: #212529; }

.dark-overlay {
  padding: 100px 0 80px; }

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.overlay {
  position: relative;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out; }

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0; }

.overlay:hover:before {
  display: block;
  cursor: pointer; }

#info .info-map {
  padding: 100px 0 50px;
  text-align: center; }
  #info .info-map p {
    padding: 0px 60px 0; }
  #info .info-map h6 {
    margin-top: -12px;
    font-weight: 700; }
  #info .info-map .email {
    color: #111111;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; }
  #info .info-map .email:hover {
    color: #ffc107; }
  #info .info-map a {
    margin-top: 5px; }
  #info .info-map .mailing {
    margin-top: 30px; }
  #info .info-map input {
    font-family: "Muli", sans-serif; }
  #info .info-map .go {
    font-family: "Muli", sans-serif;
    font-weight: 700; }
#info .map {
  padding: 30px 0 80px;
  text-align: center; }

#main-footer {
  background: #212529;
  color: #fff; }
  #main-footer .col {
    padding: 30px 0 8px; }
  #main-footer p {
    font-family: "Muli", sans-serif; }
    #main-footer p i.fa-heart {
      color: #f35c5a;
      font-size: 0.8rem;
      padding: 0 2px; }
  #main-footer .social {
    color: #ffc107;
    padding-right: 15px;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; }
  #main-footer .social:hover {
    color: #fff; }

#portfolio {
  padding-top: 100px; }
  #portfolio p.header {
    font-size: 1.3rem;
    margin-bottom: 50px; }
  #portfolio .portfolio-link {
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0 auto; }
  #portfolio .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(46, 46, 46, 0.7); }
  #portfolio .caption:hover {
    opacity: 1; }
  #portfolio .caption-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #fff;
    margin-top: -12px; }

/*
*******************************
M E D I A  Q U E R I E S
*******************************
*/
@media (min-width: 768px) {
  #showcase h1.myhero {
    margin-top: 3.5rem !important;
    font-size: 3rem !important; }
  #showcase p {
    padding: 0 2.5rem 2rem; }

  #home-heading p {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.2rem; }

  a.read {
    margin-top: 3rem; }

  #info .info-map {
    padding: 100px 0 100px; }
  #info .map {
    padding: 100px 0 80px;
    text-align: center; }

  .gallery-text {
    line-height: 20rem; }

  #hero-blog {
    min-height: 400px; }
    #hero-blog h1.myhero {
      font-size: 3rem;
      margin-top: 6rem;
      padding-top: 3.5rem;
      padding-bottom: 2rem; }

  #hero-bookstore {
    min-height: 500px; }
    #hero-bookstore h1.myhero {
      font-size: 3.5rem;
      margin-top: 9rem;
      padding-top: 3.5rem; } }
@media (min-width: 992px) {
  #showcase h1.myhero {
    margin-top: 4rem !important;
    font-size: 3.5rem !important;
    padding-right: 8rem;
    padding-left: 8rem; }
  #showcase p {
    padding-right: 12rem;
    padding-left: 12rem; }

  #home-heading p {
    padding-left: 150px;
    padding-right: 150px; }

  .gallery-text {
    line-height: 25rem; }

  .mygrid {
    transform: translateY(80px); } }
#hero-bookstore {
  margin-top: -50px;
  position: relative;
  background: url("../img/capture-b.jpg") no-repeat 50% 0 fixed;
  max-width: 100%;
  min-height: 300px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #hero-bookstore h1.myhero {
    font-size: 2.5rem;
    margin-top: 5rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem; }
  #hero-bookstore .primary-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#blog-bookstore {
  padding: 50px 0 0; }
  #blog-bookstore .post {
    position: relative;
    border: solid 1px #ddd;
    margin: 40px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    #blog-bookstore .post header {
      padding: 40px 20px 20px; }
      #blog-bookstore .post header h3 {
        margin: 0 0 8px;
        padding: 0 0 15px;
        border-bottom: solid 1px #ddd; }
        #blog-bookstore .post header h3 a {
          color: #212529;
          text-decoration: none;
          -o-transition: color .5s ease-out, color 0.5s ease-in;
          -ms-transition: color .5s ease-out, color 0.5s ease-in;
          -moz-transition: color .5s ease-out, color 0.5s ease-in;
          -webkit-transition: color .5s ease-out, color 0.5s ease-in;
          transition: color .5s ease-out, color 0.5s ease-in; }
        #blog-bookstore .post header h3 a:hover {
          color: #17a2b8; }
    #blog-bookstore .post .post-excerpt {
      padding: 20px 20px 30px; }
      #blog-bookstore .post .post-excerpt p a {
        color: #17a2b8;
        -o-transition: color .2s ease-out, color 0.3s ease-in;
        -ms-transition: color .2s ease-out, color 0.3s ease-in;
        -moz-transition: color .2s ease-out, color 0.3s ease-in;
        -webkit-transition: color .2s ease-out, color 0.3s ease-in;
        transition: color .2s ease-out, color 0.3s ease-in; }
      #blog-bookstore .post .post-excerpt a:hover {
        color: #212529;
        text-decoration: underline; }
      #blog-bookstore .post .post-excerpt .learn-more {
        margin-bottom: 2rem;
        font-family: "Muli", sans-serif; }
        #blog-bookstore .post .post-excerpt .learn-more a:hover {
          color: #fff;
          text-decoration: none; }
      #blog-bookstore .post .post-excerpt .event-h3 {
        margin-top: 3rem;
        padding: 0 0 15px;
        border-bottom: solid 1px #ddd; }
      #blog-bookstore .post .post-excerpt .events {
        margin-bottom: 30px;
        font-size: 1.1rem; }
      #blog-bookstore .post .post-excerpt .event-list {
        font-size: 1.2rem;
        font-family: "Muli", sans-serif; }
      #blog-bookstore .post .post-excerpt a.listing {
        color: #17a2b8;
        padding-left: 8px;
        -o-transition: color .2s ease-out, color 0.3s ease-in;
        -ms-transition: color .2s ease-out, color 0.3s ease-in;
        -moz-transition: color .2s ease-out, color 0.3s ease-in;
        -webkit-transition: color .2s ease-out, color 0.3s ease-in;
        transition: color .2s ease-out, color 0.3s ease-in; }
        #blog-bookstore .post .post-excerpt a.listing:hover {
          color: #212529; }
  #blog-bookstore .widget {
    position: relative;
    border: solid 1px #ddd;
    margin: 40px 0 40px;
    padding: 30px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden; }
    #blog-bookstore .widget h4 {
      margin: 0 0 10px;
      padding: 0 0 10px;
      border-bottom: solid 1px #ddd; }
    #blog-bookstore .widget .theInput {
      padding-left: 20px !important; }
    #blog-bookstore .widget .input-group-addon {
      font-family: "Muli", sans-serif;
      font-weight: 700; }
    #blog-bookstore .widget input {
      font-family: "Muli", sans-serif; }
    #blog-bookstore .widget .connect {
      margin-bottom: 30px; }
    #blog-bookstore .widget .address {
      margin-bottom: 2px; }
      #blog-bookstore .widget .address a {
        color: #17a2b8;
        font-family: "Muli", sans-serif;
        font-size: 1.2rem;
        -o-transition: color .2s ease-out, color 0.3s ease-in;
        -ms-transition: color .2s ease-out, color 0.3s ease-in;
        -moz-transition: color .2s ease-out, color 0.3s ease-in;
        -webkit-transition: color .2s ease-out, color 0.3s ease-in;
        transition: color .2s ease-out, color 0.3s ease-in; }
        #blog-bookstore .widget .address a:hover {
          color: #212529;
          text-decoration: none; }
    #blog-bookstore .widget .social {
      margin-top: 15px; }
      #blog-bookstore .widget .social a {
        color: #212529;
        font-size: 2rem;
        padding-right: 10px;
        -o-transition: color .2s ease-out, color 0.3s ease-in;
        -ms-transition: color .2s ease-out, color 0.3s ease-in;
        -moz-transition: color .2s ease-out, color 0.3s ease-in;
        -webkit-transition: color .2s ease-out, color 0.3s ease-in;
        transition: color .2s ease-out, color 0.3s ease-in; }
        #blog-bookstore .widget .social a:hover {
          color: #17a2b8; }

#main-footer {
  background: #212529;
  color: #fff; }
  #main-footer .col {
    padding: 30px 0 8px; }
  #main-footer p {
    font-family: "Muli", sans-serif; }
    #main-footer p i.fa-heart {
      color: #f35c5a;
      font-size: 0.8rem;
      padding: 0 2px; }
  #main-footer .social {
    color: #ffc107;
    padding-right: 15px;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; }
  #main-footer .social:hover {
    color: #fff; }

/*
*******************************
M E D I A  Q U E R I E S
*******************************
*/
@media (min-width: 768px) {
  #blog-bookstore .widget .theInput {
    padding-left: 18px !important;
    padding-right: 15px !important; } }
#about-bookstore {
  margin-top: -50px;
  position: relative;
  background: url("../img/bs-night-lg-2.jpg") no-repeat 65% 0 fixed;
  max-width: 100%;
  min-height: 350px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #about-bookstore h1.myhero {
    font-size: 2.5rem;
    margin-top: 5rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem; }
  #about-bookstore .primary-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#about {
  position: relative;
  min-height: 350px;
  padding: 100px 0 100px;
  background-color: rgba(0, 0, 0, 0.05); }
  #about .description span {
    font-family: "Muli", sans-serif;
    font-weight: 700; }
    #about .description span a {
      color: #111111;
      -o-transition: color .2s ease-out, background 1s ease-in;
      -ms-transition: color .2s ease-out, background 1s ease-in;
      -moz-transition: color .2s ease-out, background 1s ease-in;
      -webkit-transition: color .2s ease-out, background 1s ease-in;
      transition: color .2s ease-out, background 1s ease-in; }
      #about .description span a:hover {
        color: #17a2b8; }
  #about .description a.dev {
    color: #17a2b8;
    text-decoration: none;
    -o-transition: color .5s ease-out, color 0.5s ease-in;
    -ms-transition: color .5s ease-out, color 0.5s ease-in;
    -moz-transition: color .5s ease-out, color 0.5s ease-in;
    -webkit-transition: color .5s ease-out, color 0.5s ease-in;
    transition: color .5s ease-out, color 0.5s ease-in; }
    #about .description a.dev:hover {
      color: #212529; }
  #about .description, #about p {
    font-size: 1.1rem; }
  #about a.info {
    color: #17a2b8;
    -o-transition: color .5s ease-out, color 0.5s ease-in;
    -ms-transition: color .5s ease-out, color 0.5s ease-in;
    -moz-transition: color .5s ease-out, color 0.5s ease-in;
    -webkit-transition: color .5s ease-out, color 0.5s ease-in;
    transition: color .5s ease-out, color 0.5s ease-in; }
    #about a.info:hover {
      color: #212529;
      text-decoration: underline; }
  #about .developer .richard {
    width: 40%;
    height: 40%;
    margin-bottom: 40px;
    margin-top: 40px; }
  #about .developer .icons .fa {
    color: #212529;
    padding-right: 8px;
    margin-top: 5px;
    -o-transition: color .5s ease-out, color 0.5s ease-in;
    -ms-transition: color .5s ease-out, color 0.5s ease-in;
    -moz-transition: color .5s ease-out, color 0.5s ease-in;
    -webkit-transition: color .5s ease-out, color 0.5s ease-in;
    transition: color .5s ease-out, color 0.5s ease-in; }
    #about .developer .icons .fa:hover {
      color: #17a2b8; }

#team {
  padding: 100px 0 55px; }
  #team .webdeveloper {
    margin-bottom: 90px; }
    #team .webdeveloper .avatar {
      width: 45%;
      height: 45%;
      margin-bottom: 40px; }
    #team .webdeveloper .text-muted {
      font-size: 1.2rem !important; }
    #team .webdeveloper .bio {
      padding: 0 30px;
      font-size: 1.1rem; }
    #team .webdeveloper .icons .fa {
      color: #212529;
      padding-right: 8px;
      -o-transition: color .5s ease-out, color 0.5s ease-in;
      -ms-transition: color .5s ease-out, color 0.5s ease-in;
      -moz-transition: color .5s ease-out, color 0.5s ease-in;
      -webkit-transition: color .5s ease-out, color 0.5s ease-in;
      transition: color .5s ease-out, color 0.5s ease-in; }
      #team .webdeveloper .icons .fa:hover {
        color: #17a2b8; }

#main-footer {
  background: #212529;
  color: #fff; }
  #main-footer .col {
    padding: 30px 0 8px; }
  #main-footer p {
    font-family: "Muli", sans-serif; }
    #main-footer p i.fa-heart {
      color: #f35c5a;
      font-size: 0.8rem;
      padding: 0 2px; }
  #main-footer .social {
    color: #ffc107;
    padding-right: 15px;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; }
  #main-footer .social:hover {
    color: #fff; }

/*
*******************************
M E D I A  Q U E R I E S
*******************************
*/
@media (min-width: 576px) {
  #about {
    padding-bottom: 85px; }
    #about .developer .richard {
      margin-top: 30px; }

  #team .webdeveloper .avatar {
    width: 50%;
    height: 50%; } }
@media (min-width: 768px) {
  #about {
    padding-bottom: 80px; }
    #about .join {
      margin-top: 30px; }

  #team {
    padding: 130px 0 45px; }
    #team .webdeveloper .avatar {
      width: 40%;
      height: 40%; }
    #team .webdeveloper .bio {
      padding: 0 50px;
      font-size: 1.1rem; } }
@media (min-width: 992px) {
  #about {
    padding-top: 120px;
    padding-bottom: 70px; }
    #about .first {
      margin-bottom: 50px; }

  #team .webdeveloper .avatar {
    width: 70%;
    height: 70%; }
  #team .webdeveloper .text-muted {
    font-size: 1.3rem !important; }
  #team .webdeveloper .bio {
    padding: 0; } }
#contact {
  margin-top: -50px;
  position: relative;
  background: url("../img/couple.jpg") no-repeat 50% 20% fixed;
  max-width: 100%;
  min-height: 350px;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  #contact h1.myhero {
    font-size: 2.5rem;
    margin-top: 6rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    letter-spacing: 1px; }
  #contact .primary-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#contact-us {
  position: relative;
  min-height: 350px;
  padding: 100px 0 100px; }
  #contact-us .description span {
    font-family: "Muli", sans-serif;
    font-weight: 700; }
  #contact-us .description, #contact-us p {
    font-size: 1.1rem; }
  #contact-us a.info {
    color: #17a2b8; }
    #contact-us a.info:hover {
      color: #212529;
      text-decoration: underline;
      -o-transition: color .5s ease-out, color 0.5s ease-in;
      -ms-transition: color .5s ease-out, color 0.5s ease-in;
      -moz-transition: color .5s ease-out, color 0.5s ease-in;
      -webkit-transition: color .5s ease-out, color 0.5s ease-in;
      transition: color .5s ease-out, color 0.5s ease-in; }
  #contact-us .icon-books {
    padding-top: 50px;
    padding-bottom: 25px; }

#main-footer {
  background: #212529;
  color: #fff; }
  #main-footer .col {
    padding: 30px 0 8px; }
  #main-footer p {
    font-family: "Muli", sans-serif; }
    #main-footer p i.fa-heart {
      color: #f35c5a;
      font-size: 0.8rem;
      padding: 0 2px; }
  #main-footer .social {
    color: #ffc107;
    padding-right: 15px;
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 1s ease-in; }
  #main-footer .social:hover {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
