body {
  margin-top: 105px;
  font-family: "Ovo", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif; }

.navbar {
  opacity: 0.9;
  background: #fff;
  z-index: 100;
  padding: 2px 0 0 !important; }
  .navbar .navbar-brand h4 {
    position: relative;
    top: 3px; }
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 15px; }
  .navbar .nav-link, .navbar .search {
    font-family: "Muli", sans-serif; }
