@import "../../sass/variables.scss";
@import "../../sass/base.scss";

#map {
  padding-bottom: 70px;
}

h1 {
  margin-bottom: 24px;
}

svg {
  border: 1px solid rgb(20, 79, 122);
}

.countries {
  fill: none;
  stroke: none;
  vector-effect: non-scaling-stroke;
}

.countries.active {
  fill: white;
  stroke: black;
}

.cities {
  fill: none;
  stroke: none;
  pointer-events: none;
}

.cities.active {
  fill: blue;
  stroke:white;
  pointer-events: all;
}

.adminRegion {
  stroke: black;
  stroke-width: 1px;
  fill:white;
  vector-effect: non-scaling-stroke;
}

.stores {
  fill: grey;
  stroke: white;
  stroke-width: 1px;
  opacity: .8;
  vector-effect: non-scaling-stroke;
}

.stores.active {
  fill: #ffc94e;
}


.featuredStores {
  fill: rgb(20, 79, 122);
  stroke: white;
  stroke-width: 1px;
  opacity: .8;
  vector-effect: non-scaling-stroke;
}

.featuredStores.active {
  fill: #28ff04;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  max-width: 250px;
  z-index: 1;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 10px solid transparent;
  border-top-color: red;
  bottom: -24px;
  margin-left: -8px;
}

.tooltip.active {
  opacity: 1;
}